
body {
    color: #fff;
}

.container {
}

.row {
    height: 100%;
}

[class*="col"] {
    background: hsl(340, 29%, 67%);
    border: 1px #ccc solid;
    height: 100px;
    text-align: center;
    padding: 5px;
    line-height: 88px;
   
}


.b{
    background-color: black;
}

.g{
    background-color: gray;
}

.r{
    background-color: red;
}

.be{
    background-color: blue;
}